# CLIENT private key (testnet) — never commit
PRIVATE_KEY=

# Server receives payments to THIS address (testnet)
SERVER_ADDRESS=ST2MXBMED0CF6N9757CT3TF0PBCFS533R8SDHZS0B

# x402 facilitator (default)
FACILITATOR_URL=http://localhost:8085

PORT=3000
SERVER_URL=http://localhost:3000
